<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="Meetup - RSVP around the world">
    <meta property="og:description" content="Meetup.com RSVP visualization around the world">
    <meta property="og:url" content="https://perjerz3434.github.io/meetup.com">
    <meta name="Description" content="Meetup.com RSVP visualization around the world">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Meetup - RSVP around the world</title>
</head>
<body>
    <h2 style="margin-bottom: 0; text-align: center">Meetup - RSVP around the world</h2>
    <!-- map container -->
    <div id="map"></div>
    <!-- scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="datamaps.world.min.js"></script>
    <script src="datamaps.fading-bubbles.min.js"></script>
    <div id="app"></div>
</body>
</html>
